<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 
  <!-- Wrapper for slides -->
  <center>
  <div class="carousel-inner">
         <div class="item active">
               <br>
               <h1 style=""> 5 - 6 April 2014</h1>
               <h3 style="color: grey;"> at the  </h3>
               <h1 style=""> Voortrekker Monument </h1>
               <h3 style="color: grey;"> Eeufees Road, Pretoria </h3>
               <hr/>
               <h3> Entrance Fee </h3>
                            <p> R80 for Adults - R40 for Children  </p>
                            <p> R10 Heritage Fee, which includes parking </p>
               <div class="carousel-caption">
               </div> <!-- end of carousel-caption -->
         </div> <!-- end of item-->
  </div> <!-- end of carousel-inner -->
  </center>

  <!-- Controls -->
  <a href="#carousel-example-generic" data-slide="prev">
    <span ></span>
  </a>
  <a  href="#carousel-example-generic" data-slide="next">
    <span ></span>
  </a>
</div>
<br>
<br>
<br>

