<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active" style="display: none"></li>
  </ol>

  <!-- Wrapper for slides -->
  <center>
  <div class="carousel-inner">
         <div class="item active">
               <img src="../../assets/img/4x4outdoorshow-banner-8.jpg" alt="banner-1" />
               <div class="carousel-caption">
               </div> <!-- end of carousel-caption -->
         </div> <!-- end of item-->
  </div> <!-- end of carousel-inner -->
  </center>

  <!-- Controls -->
  <a   data-slide="prev">
    <span ></span>
  </a>
  <a   data-slide="next">
    <span ></span>
  </a>
</div>