<div class="row">
      <div class="col-md-8"> 
            <ul class="nav nav-tabs"  >
               <li ><a style="color:white; background:black;" href="/contact-us">Contact</a> </li>
               <li ><a  style="color:white; background:black;" href="/news">News</a></li>
               <li ><a  style="color:white; background: black;" href="/exhibitors">Exhibitors List</a></li>
               <li ><a  style="color:white; background:black;" href="/entertainment">Entertainment</a></li>
               <li ><a  style="color:white; background:black;" href="/event-info">Event Info</a></li>
            </ul>
       </div>
       <div class="col-md-4"> 
                  <div class="fb-like" style="padding: 0px 0px 0px 0px;" data-href="https://www.facebook.com/4x4OutdoorShow" data-send="true" 
                                  data-width="100%" data-show-faces="true" data-font="arial"></div>     
       </div>
</div>




            
            
            
