<ul class="nav nav-tabs"  >
               <li ><a style="color:white; background:black;" href="/contact">Contact</a> </li>
               <li ><a  style="color:white; background:black;" href="/news">News</a></li>
               <li ><a  style="color:white; background: black;" href="/exhibitors">Exhibitors List</a></li>
               <li ><a  style="color:white; background:black;" href="/entertainment">Entertainment</a></li>
               <li ><a  style="color:white; background:black;" href="/event-info">Event Info</a></li>
            </ul>