              <div class="row">
      <div class="col-md-8"> 
                <h2> About the Show </h2>
                 <p> The South African 4×4 & Outdoor Show is a jam packed event of high quality and will be setting the benchmark in the 4×4 & Outdoor industry.</p>
                 <p>This is a very unique show that offers live entertainment on stage, stunts, demonstrations like bike, quad and vehicle demonstrations at various points of the venue.  </p>
                 <p> This highlight of the 2014 show will be the live monster truck show. The public will also have the once in a lifetime opportunity to take a ride inside a monster truck. </p>
       </div>
       <div class="col-md-4"> 
            <h2> Col 2  </h2>
            <p> This is a sentence </p>
       </div>
</div>
            
                 <br>
                 <br>
               {{ content }}


      
      
