<div class="row" style="background: black url(../../assets/img/bg-nav.jpg);  color: grey; padding-top:80px; padding-bottom:80px;">
      <center>
      <div class="col-md-4"> 
             <center>
  <div class="carousel-inner">
         <div class="item active">
               <img src="../../assets/img/4x4outdoorshow-footer-8.png" alt="4x4outdoorshow-footer-8" width="400" height="175" />
               <div class="carousel-caption">
               </div> <!-- end of carousel-caption -->
         </div> <!-- end of item-->
  </div> <!-- end of carousel-inner -->
   <h2> Exhibitors</h2>
   <p> Type all the types of exhibitors here in a paragraph </p>
  </center>
            
       </div>
       </center>
       <center>
       <div class="col-md-4"> 
       
         <center>
  <div class="carousel-inner">
         <div class="item active">
               <img src="../../assets/img/4x4outdoorshow-logo-10.png" alt="Show Logo" />
               <div class="carousel-caption">
               </div> <!-- end of carousel-caption -->
         </div> <!-- end of item-->
  </div> <!-- end of carousel-inner -->
            <br>
            <p> R80 for Adults - R40 for Children  </p>
            <p> + </p>
            <p> R10 Heritage Fee, which includes parking </p>
  </center>

       </div>
       </center>
       <center>
       <div class="col-md-4"> 
       
       <center>
  <div class="carousel-inner">
         <div class="item active">
               <img src="../../assets/img/4x4outdoorshow-footer-10.png" alt="4x4outdoorshow-footer-9" width="400" height="175" />
               <div class="carousel-caption">
               </div> <!-- end of carousel-caption -->
         </div> <!-- end of item-->
  </div> <!-- end of carousel-inner -->
  <h2> Entertainment </h2>
  <p> Type all the entertainment here in a paragraph </p>
  </center>
            
       </div>
       </center>
       <br>
       <br>
</div>


  <center>
  <div class="carousel-inner" style="padding-top:25px; padding-bottom:50px;" >
         <div class="item active">
               <img src="../../assets/img/4x4outdoorshow-banner-12.png" alt="Sponsors" />
               <div class="carousel-caption">
               </div> <!-- end of carousel-caption -->
         </div> <!-- end of item-->
  </div> <!-- end of carousel-inner -->
  </center>