<div class="row" style="color: grey; background: black url(../../assets/img/bg-nav.jpg); padding-top: 10px;">
      <div class="col-md-4" style="padding-left: 50px"> 
          <p align="left"> The South African 4x4 & Outdoor show   </p>
          <p align="left"> Copyright &copy; 2013 All Rights Reserved </p>
       </div>
       <div class="col-md-4"> 
                 <center>
                 <a href="http://yebolocal.com"><img src="../../assets/img/yebolocal-earthman.png" alt="Yebolocal Web Design"></a>
                 </center>
       </div>
       <div class="col-md-4" style="padding-right: 50px"> 
         <p align="right"> Get a professionally designed web presence</p>
          <p align="right"> for your business brand or cause <a href="http://yebolocal.com/" title="Yebolocal Web Design" style="color:white;">Yebolocal.com</a>  </p>

          </div>
</div>


