       <div class="navbar-fixed-top" style="background: black url(../../assets/img/bg-nav.jpg);">
        <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background: white;">
               <span class="icon-bar" style="background: black;"></span>
               <span class="icon-bar" style="background: black;"></span>
               <span class="icon-bar" style="background: black;"></span>
            </button> <! -- end of button -->
            <p class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="color:white;"> Site Navigation </p>
            <div class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             </div> <! -- end of  div -->
        </div> <! -- end of navbar-header div -->
        <div class="navbar-collapse collapse" style="padding: 0;">
         <a style="font-weight:bold; color: #e9e8dc;" class="navbar-brand" href="/">Home</a> 
            <ul class="nav nav-tabs"  >
               <li class="navbar-right" ><a style="color:black; background:white;" href="/contact-us">Contact</a> </li>
               <li class="navbar-right"><a  style="color:black; background:white;" href="/news">News</a></li>
               <li class="navbar-right"><a  style="color:black; background:white;" href="/exhibitors">Exhibitors List</a></li>
               <li class="navbar-right"><a  style="color:black; background:white;" href="/entertainment">Entertainment</a></li>
               <li class="navbar-right"><a  style="color:black; background:white;" href="/event-info">Event Info</a></li>
            </ul>
         </div> <! -- end of navbar-collapse div --> 
      </div> <! -- end of navbar navbar-default div -->
      
  